*.pyc
*.txt
*~
*.swp
.DS_Store

# sage generated temp files
gen_primes.py
p3.py
p7.py
p10.py
p12.py
p21.py
p23.py
p27.py
p35.py
p37.py
p41.py
p46.py
p47.py
p49.py
p50.py
p51.py
p58.py
p60.py
p69.py
p70.py
p72.py
p77.py
